<DOCTYPE.html>

	<html>

		<body>
			<link rel="stylesheet" type="text/css" href="style2.css">
			<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

			<header>
				<div id="p">
					<h1> WEB TECH ASSIGMENT #2 </h1> </br> </br> </br>
				</div>
				<div id="h1">
					<p> Encoding Text Provided By User Using Three Different Types of Ciphers.</br>
						</br> </br> In cryptography, a cipher is an algorithm for performing encryption or decryption—a series of well-defined steps
						that can be followed as a procedure. An alternative, less common term is encipherment. To encipher or encode is to convert information into cipher or code.
					</p> </br> </br> </br>
				</div>


				<center>
					<p> A Small Intro About Cipher: </p> </br>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/Kf9KjCKmDcU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</center>

				<div class="container">


					<div class="box">
						<div class="icon"><i class="fa fa-user-secret" aria-hidden="true"></i></div>
						<div class="content">
							<h3> <a href="rot13/rot13.html">ROT13</a> </h3>
							<p> Click ROT13 for Rot13 Encoder.</p>
						</div>
					</div>

					<div class="box">
						<div class="icon"><i class="fa fa-user-secret" aria-hidden="true"></i></div>
						<div class="content">
							<h3> <a href="ceaser/ceaser.html">CEASER</a> </h3>
							<p> Click CEASER for Ceaser Encoder.</p>
						</div>
					</div>

					<div class="box">
						<div class="icon"><i class="fa fa-user-secret" aria-hidden="true"></i></div>
						<div class="content">
							<h3> <a href="vig/vig.html">Vigenere</a> </h3>
							<p> Click Vigenere for Vigenere Encoder. </p>
						</div>
					</div>

					<div class="box">
						<div class="icon"><i class="fa fa-github" aria-hidden="true"></i></i></div>
						<div class="content">
							<h3> <a href="https://github.com/Ihtisham07/chaudhry_ihtisham_set008101_coursework2">GitHub</a> </h3>
							<p> Click GitHub for my Reporsity. </p>
						</div>
					</div>

					<div class="box">
						<div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
						<div class="content">
							<h3> <a href="https://login.live.com/login.srf?wa=wsignin1.0&rpsnv=13&ct=1555078166&rver=7.0.6730.0&wp=LBI&wreply=https:%2f%2fwww.msn.com%2fen-ae%2fhomepage%2fSecure%2fPassport%3fru%3dhttps%253a%252f%252fwww.msn.com%252fen-ae%252f%253focid%253dmailsignout%2526pfr%253d1&lc=1033&id=1184&mkt=en-ae&pcexp=True">Outlook</a>
							</h3>
							<p> Click E-mail for outlook. </p>
						</div>
					</div>

					<div class="box">
						<div class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></div>
						<div class="content">
							<h3> <a href="signup.html">Logout</a> </h3>
							<div ng-controller="logoutController">
								<a ng-click='logout()' class="btn btn-default">Logout</a>
							</div>
						</div>
					</div>





				</div>



				<p>
					<marquee>&copy; 2019 Web Tech ASSIGMENT Ihtisham Nadeem Chaudhry<marquee>
							<p>



			</header>
		</body>

	</html>
